@charset "utf-8";
/* CSS Document */

/* はじめにページ */
.big_box{
	width:950px;
	height:auto;
  overflow: auto;
}

.box_left{
	width:auto;
	height:200px;
	position:relative;
	float:left;
}

.main_title{
	width:950px;
	height:40px;
	margin:20px 0 0 20px;
}

.main_title div img {
	float:left;
  clear:both;
}

.main_title .album {
  font-size: 120%;
  font-weight:bold;
	float:right;
  margin: 10px 70px 0 0;
}

.main_title div{
  height: 50px;
  padding: 0 0 0 25px;
}

.main_title div span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0 0 10px;
  float:left;
}

.menu_left{
	width:160px;
	height:auto;
	margin: 0 0 20px 20px;
	float:left;
}

.menu_left img {
	float:left;
  clear:both;
}

.menu_left ul {
  height: 50px;
  padding: 0 0 0 25px;
}

.menu_left li{
  padding:10px 0 0 10px;
  cursor:pointer;
}

.menu_left li span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0 0px;
  padding:10px 0 0 10px;
  color:#963;
}

.menu_left li.selected span{
	color: #cc9593;
}

.box_right{
	width:740px;
	height:auto;
	float:left;
	margin:0 0 0 30px;
}

.box_right .left{
	width:145px;
	height:211px;
	float:left;
	margin:0 30px 30px 0;
}

.big_title{
	font-size: 1.5em;
}
.box_right .notice{
	width:740px;
	height:auto;
	float:left;
	margin: 15px 0;
  font-size: 1.2em;
}
.big_title{
	font-size: 1.1em;
}

.test{
	color:963;
	font-size: 1.1em;
	padding: 0 10px 0 10px;
}

.selected{
	font-size: 1em;
}


