@charset "utf-8";

.confirm .content {
    width: 598px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.confirm .input_space {
    width: 558px;
    height: 100%;
    margin: 100px auto 0;
    padding: 20px;
    position: relative;
}

.confirm h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 20px;
}

.confirm form {
    width: 558px;
    height: auto;
}

.confirm form p{
    color: #555555;
    font-size: 1.5em;
    font-weight: bold;
}

.confirm form .submit {
    width: 130px;
    height: 30px;
    margin: 0 0 20px 220px;
    cursor: pointer;
    float: left;
}

.confirm .log {
    width: 558px;
    height: auto;
    margin: 20px auto 10px;
    padding: 10px 0;
    display: block;
    float: left;
    border-top: 1px dotted #000000;
    border-bottom: 1px dotted #000000;
}

.confirm .tag {
    width: 548px;
    height: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    font-size: 1.5em;
}

.confirm .left {
    width: 150px;
    height: auto;
    float: left;
}

.confirm .left img{
    margin: 10px 0 0;
}

.confirm .right {
    width: 388px;
    height: auto;
    margin: 0 0 0 10px;
    float: right;
}

.confirm .log .title {
    width: 388px;
    font-size: 2.0em;
    font-weight: bold;
    margin: 10px 0 0;
}

.confirm .log .description {
    width: 388px;
    font-size: 1.4em;
    margin: 10px 0 0;
    word-wrap: break-word;
}

.confirm form .submit input {
    cursor: pointer;
}
