@charset "utf-8";

/* top */

.contact .title{
	width:930px;
	height:40px;
	margin:20px 0 0 20px;
}

.contact .title div img {
	float:left;
}

.contact .title div{
  height: 50px;
  padding: 0 0 0 25px;
}

.contact .title div span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0 0 10px;
  float:left;
}

.contact form {
	width:900px;
	height:auto;
	padding:0 0 20px 50px;
}

.contact form p{
  font-weight:bold;
  font-size:1.2em;
  margin:15px 0 5px;
}

.contact form p.title{
  font-weight:normal;
  font-size:1.aem;
  margin:0;
  width:auto;
  height:auto;
}

.contact form textarea{
  width:500px;
  height:150px;
  resize:none;
  margin:0 0 10px;
}

/* confirm */

form p {
  word-wrap: break-word;
}

/* send */

.contact p.caution{
	width:900px;
	height:100%;
	padding:20px 0 20px 50px;
  font-size: 1.2em;
}

.contact a.back{
  color:#300203;
  font-weight:bold;
  text-decoration:underline;
}
