@charset "utf-8";
/* CSS Document */

.douyou .title {
	width: 950px;
	height: auto;
	min-height:400px
  position: relative;
}

.douyou .title img {
	float:left;
}

.douyou .title div {
  height: 50px;
  margin: 20px 0 0 45px;
}

.douyou .title div span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0 0 10px;
  float:left;
}

.douyou .map {
	width: 950px;
	height: auto;
	min-height:400px;
  position: relative;
}

.douyou .map p {
	width:770px;
  margin: 10px 0 0 100px;
  font-size: 1.3em;
}

.douyou .map p span {
  font-size: 1.3em;
  font-weight: bold;
}

.douyou .map ul {
  margin: 10px 0 0 45px;
  font-size: 1.3em;
}

.douyou .map ul li span {
  font-weight: bold;
}

.douyou .map ul li.indent{
  padding: 0 0 0 65px;
}
.osirase{
	width:100%;
	text-align:center;
}
.osirase02{
	width:800px;
	margin:0 0 0 150px;
}
.osirase03{
	width:800px;
	margin:0 0 0 50px;
}
.photo{
	float:left;
	margin:0 auto 20px 150px;
	word-wrap:break-all;
	text-align:center;
}
.music{
	float:left;
	margin:60px auto 20px 130px;
	word-wrap:break-all;
	text-align:center;
  cursor: pointer;
}
.music img{
	margin: 0 0 10px 0;
	width: 40px;
}
.cb{
	clear:both;
}
.smale{
	font-size:90%;
	font-weight: normal;
}
.douyou_titile{
  margin: 10px 0 10px 100px;
}
.name{
	margin: 10px 0 10px 650px;
}
