@charset "utf-8";

.index .key-visual {
	width: 950px;
	height: 330px;
  position: relative;
}

.index .key-visual img {
  display: none; 
  position: absolute;
}

.index .key-visual img.v001 {
  display: block; 
}

.index .about {
  padding: 20px 25px;
  position: relative;
  height:auto;
}

.index .about img {
  position: absolute;
  top: 8px;
  left: 25px;
}

.index .about div {
	width: 880px;
	height: 60px;
  margin: 0 auto;
  border-top: solid 2px #300203;
  border-bottom: solid 2px #300203;
  padding: 15px 10px;
}

.index .about02 div {
	width: 880px;
	height: 60px;
  margin: 0 auto;
  padding: 15px 10px;
}
.index .about div02 {
	width: 880px;
	height: auto;
  margin: 0 auto;
  padding: 15px 10px;
}
.index .about div p {
  font-size: 1.2em;
  font-weight: bold;
}
.index .about div02 p {
  font-size: 1.2em;
  font-weight: bold;
  height:auto;
}
.name {
	float:right;
	font-weight:normal;
}
.button{
	text-align:center;
}
.index .about div span {
  width: 880px;
  height: auto;
  display: block;
  word-wrap: break-word;
  line-height: 1.7;
}

.index .about div02 span {
  width: 600px;
  height: auto;
  display: block;
  word-wrap: break-word;
  line-height: 1.7;
  margin:0 0 0 30px;
}
.index .about div02 span img {
  margin:0 0 0 30px;
}
.index .classes {
  width: 950px;
	height: 295px;
  position: relative;
}

.index .classes .violin {
  width: 460px;
	height: auto;
  float: left;
}

.index .classes .violin div {
  height: 50px;
  padding: 0 0 0 25px;
}

.index .classes .violin div img {
  float: left;
}

.index .classes .violin div span {
  font-size: 1.3em;
  font-weight: bold;
  float: left;
  margin: 10px 0 0 10px;
}

.index .classes .violin a img:hover {
   filter: alpha(opacity=60);
   -moz-opacity:0.6;
   opacity:0.6;
}

.index .classes .piano {
  width: 460px;
	height: auto;
  float: right;
}

.index .classes .piano div {
  height: 50px;
  padding: 0 0 0 25px;
}

.index .classes .piano div img {
  float: left;
}

.index .classes .piano div span {
  font-size: 1.3em;
  font-weight: bold;
  float: left;
  margin: 10px 0 0 10px;
}

.index .classes .piano a img:hover {
   filter: alpha(opacity=60);
   -moz-opacity:0.6;
   opacity:0.6;
}

.index .info {
  width: 950px;
	height: auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 20px 0;
}

.index .info .fb {
  width: 630px;
	height: auto;
  float: left;
  padding: 10px 0 0 25px;
}

.index .info .fb span {
  font-size: 1.3em;
  font-weight: bold;
}

.index .info .fb iframe {
  margin: 10px 0 0;
}

.index .info .request {
  width: 250px;
	height: auto;
  float: left;
  margin: 40px 0 0 15px;
}

.index .info .request p {
  width: 139px;
	height: 66px;
  background: url("/images/index/banner.jpg") no-repeat;
  margin: 0 0 0 33px;
}

.index .info .request div {
  width: 235px;
	height: 100px;
  border-left: solid 2px #6a3906;
  border-right: solid 2px #6a3906;
  word-wrap: break-word;
  padding: 15px 15px 0;
}

.index .info .banners {
  width: 270px;
	height: auto;
  float: right;
  margin: 40px 0 0;
}

.index .info .banners p {
  width: 190px;
	height: 70px;
  background: url("/images/index/banner.jpg") no-repeat;
  margin: 0 0 20px 23px;
}
