@charset "utf-8";
/* CSS Document */

.link .title {
	width: 950px;
	height: auto;
	min-height:400px
  position: relative;
}

.link .title img {
	float:left;
}

.link .title div {
  height: 50px;
  margin: 20px 0 0 45px;
}

.link .title div span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0 0 10px;
  float:left;
}


.link .address {
	width: 950px;
	height: auto;
	min-height:400px;
  position: relative;
}

.link .address  {
	width:770px;
  margin: 10px 0 0 100px;
  font-size: 1.3em;
}

.link .address p span {
  font-size: 1.3em;
  font-weight: bold;
}

.link .address p span a {
	text-decoration:none;
}
.name{
	margin: 0 0 0 10px;
}
.address_box{
	margin:0 0 20px 0;
}
.link .address ul {
  margin: 10px 0 0 45px;
  font-size: 1.3em;
}

.link .address ul li span {
  font-weight: bold;
}

.link .address ul li.indent{
  padding: 0 0 0 65px;
}
.osirase{
	width:100%;
	text-align:center;
}
.osirase02{
	width:800px;
	margin:0 0 0 150px;
}
.osirase03{
	width:800px;
	margin:0 0 0 50px;
}
.photo{
	float:left;
	margin:0 auto 20px 150px;
	width:950px;
	word-wrap:break-all;
	text-align:center;
}

.cb{
	clear:both;
}