@charset "utf-8";
/* CSS Document */

/* はじめにページ */

.inner{
	width:950px;
	height:auto;
}
.big_box{
	width:950px;
	height:auto;
  float:left;
  background-color:#ffffff;
}

.box_left{
	width:auto;
	height:220px;
	position:relative;
	float:left;
}

.title{
	width:950px;
	height:40px;
	margin:20px 0 0 20px;
}

.title div img {
	float:left;
  	clear:both;
}

.title div{
  height: 50px;
  padding: 0 0 0 25px;
}

.title div span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0 0 10px;
  float:left;
}

.menu_left{
	width:200px;
	height:auto;
	margin: 0 0 20px 20px;
	float:left;
}

.menu_left img {
	float:left;
  clear:both;
}

.menu_left ul {
  height: 50px;
  padding: 0 0 0 25px;
}

.menu_left li{
  padding:10px 0 0 10px;
  cursor:pointer;
}

.menu_left li span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0 0px;
  padding:10px 0 0 10px;
  color:#963;
}

.menu_left li.selected span{
	color: #cc9593;
}

.box_main{
	width:710px;
	height:auto;
	float:right;
	margin:0 0 20px 0; 
}

.box001,
.box002,
.box003,
.box004{
	min-height:400px;
	height:auto;
}

.box002,
.box003,
.box004{
	display:none;
}

.box_right{
	width:700px;
	height:30px;
	float:right;
	margin:10px 15px 0 0;
	background-image:url(/images/base/title_background.jpg);
}

.box_right .obi{
	width:700px;
	height:30px;
	color:#FFF;
	margin:8px 0 0 30px;
	font-weight:bold;
}
.sentence01{
	width:700px;
	min-height:400px;
	height:auto;
}
.sentence01 p{
	width:700px;
	height:auto;
	margin:20px 20px 20px 0;
	word-wrap:break-all;
}
.sentence02{
	width:700px;
	min-height:400px;
	height:auto;
}
.sentence02 p{
	width:700px;
	height:auto;
	margin:10px 20px 10px 0;
	word-wrap:break-all;
}
.sentence03{
	width:700px;
	min-height:400px;
	height:auto;
	margin:20px 0 0 0;
}
.sentence03 li{
	margin:0 20px 0 0;
	word-wrap:break-all;
}
.sentence03_left {
	float:left;
}
.sentence03_right {
	width:470px;
	margin:10px 20px 10px 0;
	word-wrap:break-all;
	float:right;
}
.sentence03 span {
  font-size: 1.3em;
  font-weight: bold;
}
.sentence03 img{
	float:left;
	margin:10px 0 0 0;
}

.cb{
	clear:both;
}
/* はじめにページ終わり */

/* 料金ページ */
table{
	width:300px;
	border:#999 solid 1px;
	margin:10px 0 0 0;
}

.table_box{
	width:720px;
	margin:0px 0 0 0;
}
.table_box_left{
	float:left;
	text-align: center;
}
.table_box_right{
	float:right;
	margin:0 80px 0 0;
}
.table_box_img{
	text-align: center;
	margin: 0;
}
.table_sentence{
	text-align: center;
}
/* 料金ページ終わり */

.photo_box{
	width:720px;
}
.photo_box table{
	text-decoration:none;
	border:none;
	vertical-align:bottom;
}
.photo_title{
	padding:5px 0 10px 0;
	vertical-align:bottom;
	text-align: center;
}
.table_title{
	width: 800px;
	padding:0 0 0 10px;
}