@charset "utf-8";
/* CSS Document */

/* はじめにページ */
#big_box{
	width:950px;
	height:1050px;
}
#box_left{
	width:auto;
	height:200px;
	position:relative;
	float:left;
}
.title{
	width:950px;
	height:40px;
	margin:20px 0 0 20px;
}

.title div img {
	float:left;
  	clear:both;
}
.title div{
  height: 50px;
  padding: 0 0 0 25px;
}

.title div span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0 0 10px;
  float:left;
}

.menu_left{
	width:160px;
	height:auto;
	margin: 0 0 20px 20px;
	float:left;
}

.menu_left img {
	float:left;
  	clear:both;
}

.menu_left ul {
  height: 50px;
  padding: 0 0 0 25px;
}

.menu_left li{
  padding:10px 0 0 10px;
}

.menu_left li span {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0 0px;
  padding:10px 0 0 10px;
  color:#963;
}

#box_main{
	width:720px;
	height:auto;
	float:right;
}

.box_right{
	width:720px;
	height:30px;
	float:right;
	margin:10px 20px 0 0;
	background-image:url(../images/base/title_background.jpg);
}
.box_right .obi{
	width:720px;
	height:30px;
	color:#FFF;
	margin:8px 0 0 30px;
	font-weight:bold;
}
.sentence01 p{
	width:700px;
	height:auto;
	margin:10px 20px 10px 0;
	word-wrap:break-all;
}

.sentence02 p{
	width:700px;
	height:auto;
	margin:10px 20px 10px 0;
	word-wrap:break-all;
}

.sentence03 p{
	width:700px;
	height:auto;
	margin:10px 20px 10px 0;
	word-wrap:break-all;
}
.sentence03 img{
	float:left;
}

.cb{
	clear:both;
}
/* はじめにページ終わり */

/* 料金ページ */
table{
	width:300px;
	border:#999 solid 1px;
	margin:10px 0 0 20px;
}
/* 料金ページ終わり */