@charset "utf-8";

.admin .content {
    width: 598px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.admin .input_space {
    width: 558px;
    height: auto;
    margin: 100px auto 0;
    padding: 20px;
    border: 2px solid;
    position: relative;
}

.admin .error {
    color: #ff0000;
    margin: 0 0 10px;
    font-size: 1.3em;
}

.admin h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 25px;
}

.admin .complete {
    font-size: 1.4em;
    font-weight: bold;
    float: right;
    color: #ff0000;
}

.admin form {
    width: 558px;
    height: 470px;
}

.admin form p {
    color: #555555;
    font-size: 1.5em;
    font-weight: bold;
}

.admin form .title {
    width: 554px;
    height: 17px;
    margin: 5px 0 30px;
    font-size: 13px;
}

.admin form .description {
    width: 558px;
    height: 100px;
    margin: 5px 0 30px;
    font-size: 13px;
    resize : none;
}

.admin form .writer {
    margin: 5px 0 30px;
}

.admin form .file {
    width: 558px;
    height: 25px;
    margin: 5px 0 60px;
}

.admin form .submit {
    height: 24px;
    margin: 0 0 0 200px;
    cursor: pointer;
    float: left;
}

.admin form .reset {
    height: 24px;
    margin: 0 0 0 20px;
    cursor: pointer;
    float: left;
}

.admin form.delete {
    width: 450px;
    height: 20px;
    float: left;
    margin: 10px 0 0;
    font-size: 1.3em;
}

.admin .view {
  float:right;
  font-size: 1.3em;
  margin: 10px 0 0;
  font-weight: bold;
  color: #0000ff;
  text-decoration: underline;
}

.admin .log {
    width: 600px;
    height: auto;
    margin: 20px auto 10px;
    display: block;
    float: left;
    border-top: 1px dotted #000000;
}

.admin .tag {
    width: 590px;
    height: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    font-size: 1.5em;
    margin: 10px 0 0;
}

.admin .tag .id{
    float: right;
}

.admin .left {
    width: 150px;
    height: 100%;
    float: left;
}

.admin .left img{
    margin: 10px 0 0;
}

.admin .right {
    width: 440px;
    height: 100%;
    margin: 0 0 0 10px;
    float: right;
}

.admin .log .title {
    width: 440px;
    font-size: 2.0em;
    font-weight: bold;
    margin: 10px 0 0;
}

.admin .log .description {
    width: 440px;
    font-size: 1.4em;
    margin: 10px 0 0;
    word-wrap: break-word;
}
